[Desktop Entry]
Name=Obsidian
Exec=obsidian.sh %U
Terminal=false
Type=Application
Icon=md.obsidian.Obsidian
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
